body {
  background: #E9ECEF !important;
}

.btn-secondary{ 
  margin-left: 430px !important;  
  margin-right: 430px !important;
  border-radius: 4.5rem !important;
}

#title{
    margin-bottom: -50px !important;
    margin-top: 15px !important;
    font-family: sans-serif !important;
}
#about{
    margin-top: 60px !important;
}